body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: -20px;
}

.footer {
  background-color: #0f0c0f;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.baterias {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}


.carta-bateria {
  border: 1px;
  border-style: solid;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.carta-imagen {
  margin-top: 15px;
  text-align: center;
}

.carta-body {
  margin-top: -16px;
  /* background: linear-gradient(to bottom, rgb(119, 154, 248), white); */
}

.carta-body .carta-titulo {
  text-align: center;
  text-transform: capitalize;
}

.carta-voltaje, .carta-precio {
  text-align: center;
}

.carta-boton {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.carta-boton button {
 font-weight: bold;
 border-radius: 10px;
}

.container-venta {
  border: 1px;
  border-style: solid;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 200px;
  margin-bottom: 200px;
}





/* .titulo-venta {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.imagen-venta {
  margin: auto;
}

.descripcion-venta {
  display: flex;
  margin: auto;
  padding-top: 20px;
}

.descripcion-venta p {
  padding-left: 20px;
  padding-right: 20px;

}

.venta-precio {
  margin: auto;
} */


